.footer{
    width: auto;
    height: 70px;
    background-color: black;
    margin-top: auto;
}

.main_footer{
    display: flex;
}

.table_footer{
    margin: 20px 0px;
    display: flex;
    gap: 22rem;
}
.li_table{
color: aliceblue;
}

